.wrapper {
    --tux-colorPrimary-opacity-12: rgba(254, 44, 85, 0.08);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    //Fix the font-size first, then increase the padding to prevent text overflow.
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 4px;
    min-width: 100px;
    padding: 9px 16px;
    cursor: pointer;
    //set default  for Button component
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    //The button behind is spaced 8px from the button in front.
    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    //to enable set width
    display: inline-block;
    text-align: center;
    width: 24px;
}
//999px is tip for fix button rounded
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    //currentColor is var(--primary)
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: var(--tux-colorPrimary-opacity-12);
    }
}
.link {
    border-color: #1618231f;
    border-radius: 2px;
    min-width: 110px;
    padding: 0 16px;

    //if we have class link contain class title the css rule will be applied
    .title {
        flex: 1 1;
        margin: 0;
    }
    .icon {
        width: 20px;
    }
    + .wrapper {
        margin-left: 0px;
    }
    &:hover {
        background-color: var(--background-gray-color-03);
        border-color: #d0d1d3;
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

//Disable

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    padding: 14px 16px;
    min-width: 140px;
}
