@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans';
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}

//Set the elements to default with no outline and border.
button, input, [tabindex]{
    outline: none;
    border: none;
}
a[href]{
    color: var(--text-color);
    text-decoration: none;
}
