@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --white: #fff;
    --black: #000;
    --text-color: #161823;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans';
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-weight: 600;
}

//Set the elements to default with no outline and border.
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
    .tippy-content{
        padding: 8px 9px;
    }
}
