.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--default-layout-width);
    max-width: 100%;
    height: 100vh;
    padding: 0 var(--default-layout-horizontal-spacer-sidbar);
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.content-container{
    flex: 1;
    overflow: auto;
    margin-bottom: 48px;
    margin-top: 20px;
}
.content {
    padding: 10px;
}
