.item {
    font-size: inherit;
    height: 44px;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0 12px;
    width: 100%;
}

.title {
    font-size: 3.2rem;
    margin: 16px 0;
    text-align: center;
}

.login-btn {
    background-color: #fff;
}
.icon {
    width: 2rem;
    height: 2rem;
}
