//Menu content
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

//Menu-item
.menu-item {
    width: 100%;
    padding: 13px 16px;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
