.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%; //Allow the input element's height to match that of the search for ease of interaction.
        font-size: 1.6rem;
        padding-right: 40px; //prevent overflow when write too much into input
        color: var(--black);
        caret-color: var(--primary);
        background-color: transparent;
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600px;
    color: rgba(22, 24, 35, 0.5);
}
.clear,
.loading {
    position: absolute;
    right: var(--search-button-width);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    right: calc(var(--search-button-width) + 16px);
    font-size: 1.5rem;
}
.loading {
    animation: spiner 1s linear infinite;
}

@keyframes spiner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-button-width);
    height: 100%;
    font-size: 1.8rem;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
