.wrapper {
    overflow: hidden;
}
.wrapper-lable {
    padding-right: 8px;
    height: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    &:visited {
        color: #161823;
    }
    &:hover {
        color: #161823;
    }
}
.image {
    width: 208px;
    max-width: 280px;
    height: 52px;
    border-radius: 8px;
    position: relative;
    transition: color 250ms;
    cursor: pointer;
    animation: transform 6s ease-out;
    &:hover + .content {
        transform: scale(1.2);
    }
}
.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 200px;
    animation: transform 3s ease-out;
    &:hover {
        transform: scale(1.2);
    }
}
.icon {
    margin-right: 2px 9px 0 0;
}
.lable {
    color: #161821;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 4px;
}
