.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    width: 100%;
    //If undefined ---default--...-height the value is 60px
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-link{
    display: flex;
}

//For custom classes for Button component
.custom-button-getapp {
    color: red;
}

//Actions
.actions {
    display: flex;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    background-color: transparent;
    color: rgba(22, 24, 35, 1);
    padding: 4px 10px;
    cursor: pointer;
}
.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
