.sidebar-container {
    width: 300px;
    overflow-y: hidden;
    margin-top: 2px;
    margin-bottom: 60px;

    &:hover {
        overflow-y: overlay;
    }
}
.sidebar-container::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

.wrapper {
    height: auto;
    padding: 20px 8px 26px;
}
